/* inline > id > classes, pseudo-classes, attributes > tag, pseudo-element selectors */

#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("images/freedom.jpg") left bottom 50% / cover no-repeat border-box, #ff1b68;
    width: 100vw;
    height: 33vh;
    padding: 0.6rem;
    margin-top: 2rem;
    position: relative;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 30%;
    left: 3%;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
    background: white;
    color: rgb(14, 138, 53);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(9, 110, 41, 0.5);
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

#key-features {
    background: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-features__list-item {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-features__list-item-description {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

.key-features__list-item-image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}